<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Converter!</h1>
    <form action="/piglatinize" method="POST">
      <label for="user_phrase">Phrase for piglatin</label>
      <input type="text" name="user_phrase">
      <input type="submit" value="Enter your phrase:">
    </form>
    <form action="/nato" method="POST">
      <label for="user_phrase">Nato Phrase</label>
      <input type="text" name="user_phrase">
      <input type="submit" value="Enter your phrase:">
    </form>

      
  
  </body>
</html>